<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title>Изменить</title>
</head>
<body>
<form action="#" th:action="@{/edit}" th:object="${user}" th:method="PATCH">
  <input type="hidden" th:field="*{id}" th:value="*{id}"/>
  <p>Имя: <input type="text" th:field="*{name}" th:value="*{name}" th:charset="utf-8"/></p>
  <p>Фамилия: <input type="text" th:field="*{secondName}" th:value="*{secondName}"/></p>
  <p>Email: <input type="text" th:field="*{email}" th:value="*{email}" th:charset="utf-8"/></p>
  <p><input type="submit" value="Изменить"/></p>
</form>
</body>
</html>