<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
  <title>Список пользователей</title>
</head>
<body>
<div>

  <table>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Email</th>
      <th>Опции</th>
    </tr>
    <th:block th:each="user : ${users}">
      <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.secondName}"></td>
        <td th:text="${user.email}"></td>
        <td>
          <a href="/UsersAdd">Добавть нового пользователя</a>
          <a href="#" th:href="@{/edit/{id}(id=${user.id})}" th:text="Изменить"></a>

          <form th:action="@{/delete/{id}(id=${user.id})}" th:method="delete">
            <button type='submit' name='your_name' value='your_value' class='btn-link'>Удалить</button>
          </form>
        </td>
      </tr>
    </th:block>

  </table>
</div>
</body>
</html>